# Change cursor shape depending on current mode
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[1 q\2

# Enable colored in tab completion
set colored-stats on

# Map Ctrl+l to clear screen
"\C-l": clear-screen

# Map key in vi command mode
set keymap vi-command
"gg": beginning-of-history
"G": end-of-history
